body {
    background: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    margin: 0 auto;
    }

.navbar {
    text-align: center;
}

.jumbotron {
    background-color: #343a40;
    color: #fff;
    font-family: 'Ewert';
    font-size: 100px;
}

/* .modal-content {
    background: rgb(255, 255, 255, 1) !important;
} */

.container {
    width: 100%;
    margin: 0 auto;
}

.card-deck {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.card-footer {
    padding: 0;
}

.btn {
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
    -webkit-text-stroke-width: 1.5px;
}

.scoreBoard {
    font-family: 'Bungee Hairline', monospace;
    color: #fff;
    background-color: #343a40;
    border: 1px solid #fff;
    text-align: center;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
    font-size: 28px;
    line-height: 150%;
    -webkit-text-stroke-width: 1.5px;
}

.score {
    font-size: 60px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #aaa;
}

footer {
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    color: #ebebeb;
    text-align: center;
    padding: 20px;
}

/* Media queries for portrait smartphones */
@media screen and (max-width: 768px) and (orientation: portrait){
    body {
        background-image: none;
        background-color: #aaa;
    }
    
    header {
        width: device-width;
    }

    .jumbotron {
        font-size: 36px;
    }

    .container {
        float: left;
    }

    .card-deck {
        display: unset;
    }

    .card{
        max-width: 50%;
        float: left;
        margin: 0;
    }

    .scoreBoard {
        width: 100%;
        margin-bottom: 6rem;
    }
}

/* Media queries for landscape smartphones */
@media screen and (max-width: 824px) and (orientation: landscape){
    body {
        background-image: none;
        background-color: #aaa;
    }

    header {
        width: device-width;
    }

    .container {
        margin-bottom: 1rem;
    }

    .scoreBoard {
        margin-bottom: 5rem;
    }

}